.subtitle{
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.job-info{
  border-bottom: inset;
  margin-right: 45px;
  margin-top: 30px;
}

.job-info-content{
  margin-bottom: 10px;
  margin-top: 10px;
}

.btn-success{
    color:#89a99e;
    border-color: #89a99e;
    background-color: white;
}

.table-desc{
    border: 0.05em solid lightgrey;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 50px;
    padding-left: 15px;
}

.desc{
    float: left;
    width: 580px;
    margin-left: 15px;
    margin-top: 15px;
}

.garis{
  border-left: 1px solid  lightgrey;
  height:800px;
  margin-left:760px;
  margin-top: 20px;
  width: 1380px;
}
